body, html {

    font-size: 18px;
    color: #777777;
    margin: 0;
    padding: 0;
    
} 



#picturewrapper{
        width: 535px;
        height: 600px;
        margin-top: 30px;
        margin-left: 30px;
}

.font1{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 15px;

}

.font2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

#header{
    width: 100%;
    height: 100px;
    background: #ffff;
    margin-top: -8px;
    border-bottom: 2px solid #cccccc; 
}

.mainwrapper{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#infobox{
    width: 960px;
    height: 900px;
    background: #ffff;
    margin-top: 0px;
    border: 1px solid #cccc;
}

#aboutme{
    border-bottom: 3px solid #dddd;
    margin: 0 auto;
    width: 900px;
    height: 100px;
    text-align: left;
    line-height: 100px;
    color: #4aaaa5;
}

#myname{
    position: relative;
    bottom: 122px;
    margin-bottom: -110px;
    height: 100px;
    width: 250px;
    color: #ffff;
    text-align: center;
    line-height: 110px;
    background: #4aaaa5;
}

#infocontainer{
    width: 900px;
    margin: 0 auto;
}


.navtext{
    height: 20px;
    color: rgba(153, 152, 152, 0.867);

}

#navwrap{
    height: 30px;
    width: 280px;
    position: relative;
    left: 940px;
    bottom: 90px;
    margin-left: -200px;
    font-weight: bold;
}

#about{
    float: left;
    border-right: 1px solid #dddd;
    width: 22%;
    margin-right: 10px;
    
}

#contact{ 
    float: left;
    width: 30%;
    margin-left: 8px;
}

#portfolio{
    float: left;
    border-right: 1px solid #dddd;
    width: 28%;
}

#bottomheader{
    width: 100%;
    height: 70px;
    background: #666666;
    margin-top: 104px;
    border-top: 10px solid #4aaaa5; 
    text-align: center;
    line-height: 95px;
    color: rgb(216, 216, 216);
    font-size: 12px;
}

#tech1box:hover{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(185, 117, 52);
    position: relative;
    right: 2px;
    background: #2e6865;
}

#tech2box:hover{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(185, 117, 52);
    position: relative;
    right: 2px;
    background: #2e6865;
}

#tech3box:hover{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(185, 117, 52);
    position: relative;
    right: 2px;
    background: #2e6865;
}

#tech4box:hover{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(185, 117, 52);
    position: relative;
    right: 2px;
    background: #2e6865;
}

#tech5box:hover{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(185, 117, 52);
    position: relative;
    right: 2px;
    background: #2e6865;
}

#tech1{
    background-image: url("../images/tech1.jpg");
    height: 210px;
    width: 250px;
    float: left;
}

#tech1box{
    width: 100%;
    height: 45px;
    background: #4aaaa5;
    position: relative;
    top: 153px;
    text-align: center;
    color: white;
    line-height: 45px;
}

#tech2{
    background-image: url("../images/tech2.jpg");
    height: 210px;
    width: 250px;
    float: left;
    margin-left: 35px;
}

#tech2box{
    width: 100%;
    height: 45px;
    background: #4aaaa5;
    position: relative;
    top: 153px;
    text-align: center;
    color: white;
    line-height: 45px;
}

#tech3{
    background-image: url("../images/tech3.jpg");
    height: 210px;
    width: 250px;
    float: left;
    margin-top: 35px;
}

#tech3box{
    width: 100%;
    height: 45px;
    background: #4aaaa5;
    position: relative;
    top: 153px;
    text-align: center;
    color: white;
    line-height: 45px;
}

#tech4{
    background-image: url("../images/tech4.jpg");
    height: 210px;
    width: 250px;
    float: left;
    margin-top: 35px;
    margin-left: 35px;
}

#tech4box{
    width: 100%;
    height: 45px;
    background: #4aaaa5;
    position: relative;
    top: 153px;
    text-align: center;
    color: white;
    line-height: 45px;
}

#tech5{
    background-image: url("../images/tech5.jpg");
    height: 210px;
    width: 250px;
    float: left;
    margin-top: 35px;
}

#tech5box{
    width: 100%;
    height: 45px;
    background: #4aaaa5;
    position: relative;
    top: 153px;
    text-align: center;
    color: white;
    line-height: 45px;
}