@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    font-family: 'Ubuntu';
    color: white;
    margin: 0;
    padding: 0;
}



html{
    background: #000b13;
    color: white;
    font-family: 'Ubuntu';
}


.x {
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
  }

  #name{
      margin-left: 10px;
  }

.nav-wrapper{
    background-color: #000b13;
}

.sidenav li>a{
    margin-top: 20px;
}

#topImage{
    background-image: url("../images/nature.jpg");
        height: 500px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid rgba(255, 255, 255, 0);
}


#img1Text{
    margin: 0 auto;
    margin-top: 100px;
    font-size: 50px;
    color: white;
    width: 350px;
    font-weight: bolder;
    text-align: center;
    background: rgba(0, 0, 0, 0.507);
}

#img2Text{
    margin: 0 auto;
    margin-top: 150px;
    font-size: 50px;
    color: white;
    width: 350px;
    font-weight: bolder;
    text-align: center;
    background: rgba(0, 0, 0, 0.507);
}

.logoWrapper{
    height: 500px;
    background-image: url("../images/background.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0);
}

.logos{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    transition: all 0.7s;
}

.logos:hover{
    border: 5px solid rgb(142, 171, 226);
    border-radius: 100%;
}

.logos2{
    border: 5px solid rgba(255, 255, 255, 0);
    margin-top: 50px;
    width: 100%;
    height: 100%;
    transition: all 0.7s;
}

.logos2:hover{
    border: 5px solid rgb(142, 171, 226);
}

.logos3{
    margin: 0 auto;
    margin-top: 15px;
    height: 100%;
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0);
    transition: all 0.7s;
}

.logos3:hover{
    border: 5px solid rgb(142, 171, 226);
}

.generalWrapper{
    min-height: 400px;
    background-color: #000b13;

}

.generalWrapper2{
    min-height: 500px;
    background-color: #000b13;
    border: solid 1px rgba(255, 255, 255, 0);

}

.text{
    font-size: 23px;
    text-align: center;
}

.text2{
    margin-top: 30px;
    text-align: center;
    background: #000b13c9;
    font-size: 30px;
}

.text3{
    margin-top: 35px;
    text-align: center;
    font-size: 30px;
}


/* Second Page */

.newText{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: -10px;
  
}

#topImage2{
    background-image: url("../images/nature2.jpg");
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0);
}

#img2Text{
    margin: 0 auto;
    margin-top: 150px;
    font-size: 50px;
    color: white;
    width: 400px;
    font-weight: bolder;
    text-align: center;
    background: rgba(0, 0, 0, 0.507);

}

.generalWrapper3{
    min-height: 600px;
    background-color: #000b13;
    border: solid 1px rgba(255, 255, 255, 0);

}

.logos4{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    transition: all 0.7s;
}

.logos4:hover{
    border: 5px solid rgb(51, 255, 51);
    border-radius: 100%;
}

